---
layout: base.njk
title: "Page Not Found"
description: "The page you were looking for does not exist."
permalink: /404.html
---

<!-- Page content will go here -->
<section class="news-hero">
  <h1 class="">404 - Page Not Found</h1>
  <p>Sorry, the knights are unable to find the dragon you are looking for. Please check the URL and
    try again. Or, just stay here and have fun.</p>
</section>
<section class="game-content hidden-mobile">
  <iframe src="/game/index.html" class="game-iframe" title="Knight Dreams – 404 mini-game" scrolling="no"
    allowfullscreen></iframe>
  <p class="game-hint">Use WASD / Space bar to play</p>
</section>